In [2]:
from statistics import mean as mean
import  pandas as pd

#Load the data file: http://raptor.kent.ac.uk/~ds756/heart.csv.

df = pd.read_csv('http://raptor.kent.ac.uk/~ds756/Data/heart.csv')
print(df)

     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [6]:
#How many rows does it have?
df.shape[0]

918

In [7]:
#How many features does it have?
df.shape[1]

12

In [10]:
#How many features are of type “int64”?
c=0
for type in df.dtypes:
    if type == 'int64':
        c+=1
print(c)

6

In [12]:
#What is the mean Oldpeak?
df.Oldpeak.describe()['mean']

0.8873638344226579

In [13]:
#What is the mean RestingBP
df.RestingBP.describe()['mean']

132.39651416122004

In [14]:
#What is the mean Age?
df.Age.describe()['mean']

53.510893246187365

In [24]:
#What percentage of the cases developed heart disease?
len(df[df['HeartDisease']==1])*100/df.shape[0]

55.33769063180828

In [27]:
#Index the age feature.
df.set_index('Age')

,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
Age,,,,,,,,,,,
40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...
45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [33]:
"""Create a subset dataframe containing only the data of people in their 
40’s. With your 40’s subset compute:
a. mean Oldpeak
b. mean RestingBP
c. mean Age"""

new_df = df[(df['Age'] >= 40) & (df['Age'] < 50)]
new_df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
887,43,M,ASY,132,247,1,LVH,143,Y,0.1,Flat,1
896,47,M,NAP,130,253,0,Normal,179,N,0.0,Up,0
907,44,M,ASY,120,169,0,Normal,144,Y,2.8,Down,1
910,41,M,ATA,120,157,0,Normal,182,N,0.0,Up,0
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1

In [35]:
new_df.Oldpeak.describe()['mean']

0.581042654028436

In [36]:
new_df.RestingBP.describe()['mean']

127.35545023696683

In [37]:
new_df.Age.describe()['mean']

44.796208530805686